:root {
    --basic-black: #000000;
    --basic-dark-blu: #293449;
    --basic-light-blue: #32425C;
    --basic-dark-gray: #A9A9A9;
    --basic-grin: #63A63E;
    --basic-red: #EE3643;
    --basic-white: #FFFFFF;
    --basic-yelowe: #FFD180;
    --basic-grey-light: #C5C5C5;
    --basic-mid-night: #1D2739;
    --basic-category-materials: #FFBF47;
    --basic-category-tool: #3BBCE3;
    --basic-category-technique: #DC91D8;
    --basic-category-discounts: #8ED78F;
    --basic-category-delivery: #FFC047;
    --basic-line: #F9F5F0;
    --basic-light-light-blue: #F1F5F7;
    --basic-social-button: #212A3A;
    --basic-footer-address: #F3F7F9;
    --basic-border-products: #EAEAEA;
    --basic-user-checkout-hover: #5FBB2D;
    --basic-logo-hover: #BA2732;
    --basic-light-yelowe: #F7F3EC;
    --basic-border-button-grey: #E5E5E5;
}

a {
    text-decoration: none;
}

.page-body {
    min-width: 1200px;
    min-height: 320px;
}

/* header */
.header {
    background-color: var(--basic-light-light-blue);
}

.header-user-nav {
    background-color: var(--basic-dark-blu);
}

.header-logo {
    width: 220px;
    height: 47px;
    background-color: var(--basic-red);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-search {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-red);
}

.header-search-icon {
    background-color: var(--basic-dark-blu);
}

.visually-hidden {
}

.user-bookmark {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-decoration: none;
}

.user-cart {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-decoration: none;
}

.user-order {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-decoration: none;
    background-color: var(--basic-grin);
}

.header-title {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.header-phone {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-red);
    text-decoration: none;
}

.header-address {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-light-blue);
}

.header-login {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    text-decoration: none;
}

.header-registration {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    text-decoration: none;
}


.header-menu {
    background-color: var(--basic-dark-blu);
    box-shadow: inset 0 -5px 0 var(--basic-dark-blu);
}

.header-menu-list {
    list-style: none;
}

.header-menu-item a {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-decoration: none;
}

/* container */
.container {
}

/* category */
.category li,
.products li,
.manufactures li {
    list-style: none;
}

.category-title {
    display: none;
}

.category-list {
}

.category-materials {
    background-color: var(--basic-category-materials);
}

.category-materials-title,
.category-tool-title,
.category-technique-title,
.category-discounts-title,
.category-delivery-title {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.category-materials-button,
.category-tool-button,
.category-technique-button,
.category-discounts-button,
.category-delivery-button {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 26px;
}

.category-materials-img {
}

.new-mark {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    background-image: url(../img/content/new-mark.png);
    background-repeat: no-repeat;
}

.category-tool {
    background-color: var(--basic-category-tool);
}

.category-tool-img {
}

.category-technique {
    background-color: var(--basic-category-technique);
}

.category-technique-img {
}

.category-slider {
}

.category-slider-title {
    position: absolute;
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.category-slider p {
    position: absolute;
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.category-slider-img {
}

.button {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-transform: uppercase;
    text-decoration: none;
}

.category-discounts {
    background-color: var(--basic-category-discounts);
}

.category-discounts-img {
}

.category-delivery {
    background-color: var(--basic-category-delivery);
}

.category-delivery-img {
}

/* products */
.products-title,
.manufactures-title {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-light-blue);
    background-color: var(--basic-line);
    text-transform: uppercase;
}

.products h2 {
}

.products li {
}

.products img {
}

.products h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}

.products-old-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: var(--basic-dark-gray);
}

.products-new-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* manufactures */
.manufactures-list {
}

.manufactures-item {
}

/* services */
.services {
    background-color: var(--basic-light-light-blue);
}

.services-title {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.services-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.services-list {
    list-style: none;
}

.services-item-active a {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-light-blue);
    text-decoration: none;
}

.services-item a {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    text-decoration: none;
}

.services-title-delivery {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-light-blue);
    text-transform: uppercase;
}

.services-text {
}

.services-slider-img {
}

.description {
}

.description-title,
.contacts-title {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.contacts-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.description-list {
    list-style: none;
}

.description-item {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
}

.description p {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin-top: 0;
    margin-bottom: 20px;
}

.contacts-img {
}

/* footer */
.footer {
    background-color: var(--basic-light-blue);
}

.footer-logo {
}

.footer-address {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-footer-address);
}

.footer-nav li,
.footer-socials-list,
.footer-info {
    list-style: none;
}

.footer-nav-site a {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light-light-blue);
}

.footer-nav-category a {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-yelowe);
}

.footer-copyright {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-socials-item {
}

.footer-mail,
.footer-developed {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-mail a,
.footer-developed a {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-yelowe);
}


/******************* CATALOG **********************/

.user-cart-active {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-decoration: none;
    background-color: var(--basic-red);
}

/* private */
.private-nav-list,
.crumbs-list,
.filter-list,
.products ul,
.pagination {
    list-style: none;
}

.private-nav-orders a,
.private-nav-office a {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-light-blue);
}

/* crumbs */

.crumbs-item a {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog-title {
    font-family: "Cuprum", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-light-blue);
    text-transform: uppercase;
    background-color: var(--basic-light-light-blue);
}

/* filter */
.section-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-light-yelowe);
}

.filter {
    background-color: var(--basic-light-yelowe);
}

.filter-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter-range {
}

.filter-input {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}

/* filter manufactures */
.filter-manufactures {
}

.filter-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
}

/* supply */
.filter-supply {
}

.filter-show {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    background: var(--basic-white);
    border: 1px solid var(--basic-border-button-grey);
}

/* sorting */
.sorting {
}

.sorting-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
}

.sorting-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-red);
}

.sorting-type {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);

}

.sorting-function {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);
}

.arrow_up {
}

.arrow_down {
}

/* pagination */
.pagination {
}

.pagination-active {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: 1px solid var(--basic-border-button-grey);
}

.pagination-number {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-border-button-grey);
}

.pagination-next {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-border-button-grey);
}


